@using Bat.Blazor.App.Shared
@inherits BaseLayout

<AuthorizeView>
    <Authorized>
        @Body
        <p>Claims:</p>
        <ul>
            @foreach (var claim in UserClaims)
            {
                <li><b>@claim.Type:</b> @claim.Value</li>
            }
        </ul>
    </Authorized>
    <NotAuthorized>
        <CAlert type="warning">
            <span>You are not authorized to access this page. Please <a href="@LoginUrl" class="alert-link">login</a> with an account that has the required permissions.</span>
        </CAlert>
    </NotAuthorized>
</AuthorizeView>
