<PageTitle>@PageTitle</PageTitle>

<div class="wrapper d-flex align-items-center min-vh-100">
    <div class="container">
        <CAlert type="info">
            <span>Please wait...</span>
        </CAlert>
    </div>
</div>

@code {
    [Parameter]
    public string PageTitle { get; set; } = "Authorizing...";
}
