<PageTitle>@PageTitle</PageTitle>

<div class="container pt-4">
    <CAlert type="info">
        <span>Please wait...</span>
    </CAlert>
</div>
<script src="@UIGlobals.ASSET_ROOT/blazor-coreui-fix/blazor-coreui-fix.js" defer></script>

@code {
    [Parameter]
    public string PageTitle { get; set; } = "Authorizing...";
}
